
@model IEnumerable<HomeShareDAL.AvisMembreBien>

<div class="col-sm-12">
    @foreach (HomeShareDAL.AvisMembreBien av in Model)
    {

        <ul>
            <li><a href=""><i class="fa fa-user"></i><b>Membre: </b>@av.IdMembre</a></li>
            <li><a href=""><i class="fa fa-clock-o"></i><b>Note: </b>@av.Note</a></li>
            <li><a href=""><i class="fa fa-clock-o"></i><b>Commentaire: </b>@av.Message</a></li>
            <li><a href=""><i class="fa fa-calendar-o"></i><b>Avis publié le: </b>@av.DateAvis.ToShortDateString()</a></li>
            <li><a href=""><i class="fa fa-clock-o"></i><b>Bien approuvé? :</b>@av.Approuve</a></li>
        </ul>


    }
    <p><b>Ajouter votre avis sur ce bien</b></p>
    <form action="" method="post">
        <span>
            <input type="hidden" name="id" value='@ViewContext.RouteData.Values["id"]' />
            <input type="text" name="txtLogin" placeholder="Votre Login" />
            <input type="text" name="txtNote" placeholder="Votre note" />
            <input type="text" name="txtMessage" placeholder="Votre commentaire" />
            <input type="text" name="txtMessage" placeholder="Approuvez-vous ce bien?" />

        </span>

        <button type="submit" class="btn btn-default pull-right">
            Submit
        </button>
    </form>
</div>

